# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the following user(s) will be requested for
# review when someone opens a pull request.
# This review will be required for pull requests targeted
# at the main branch.

*       @Duquesne-Spring-2025-COSC-445W/reviewers-main
